<style>
    td
    {
      border: 2px solid rgb(0, 0, 0);
      width: 50%;
      padding: 0.3rem;
      font-size: 0.8rem;
      font-weight: bold;
    }
  
    body{
      font-family: Arial, Helvetica, sans-serif;  
  
    }
    
  </style>
  
  
  
  <table style="width: 22rem; border-collapse: collapse;  margin-right: calc(67%); height: auto;">
    <tbody>
        <tr>
            <td style="width: 99.7506%;  height:4rem; " colspan="2">
              <img src="pnblogo.png" alt="" style="width: 16rem;  margin-right: 4rem;">
          
          </td>
        </tr>
        <tr>
            <td>CUSTOMER NAME</td>
            <td><input type="text" id="name" value="<%= name %>"></td>
        </tr>
        <tr>
            <td>FATHERS/HUSBAND</td>
            <td><input type="text" id="father_name" value="<%= father_name %>"></td>
        </tr>
        <tr>
            <td>ACCOUNT NUMBER</td>
            <td><input type="text" id="account_number" value="<%= account_number %>"></td>
        </tr>
        <tr>
            <td>CIF NUMBER</td>
            <td><input type="text" id="cif_number" value="<%= cif_number %>"></td>
        </tr>
        <tr>
            <td>IFSC CODE</td>
            <td><input type="text" id="ifsc_code" value="<%= ifsc_code %>"></td>
        </tr>
        <tr>
            <td>MOBILE NUMBER</td>
            <td><input type="text" id="mobile_number" value="<%= mobile_number %>"></td>
        </tr>
        <tr>
            <td>ID NO.</td>
            <td><input type="text" id="id_number" value="<%= id_number %>"></td>
        </tr>
        <tr>
            <td>KO CODE</td>
            <td><input type="text" id="ko_code" value="K4100094"></td>
        </tr>
        
        <tr>
            <td style="width: 99.3056%;  height:3rem" colspan="2">
          
              <p style="margin-left: 16rem;
              margin-top: 4rem;" >Signature</p>
          
          </td>
        </tr>
    </tbody>
  </table>
  <p></p>
  